DB_TYPE={{ wikijs_postgres_type }}
DB_HOST={{ wikijs_postgres_host }}
DB_PORT={{ wikijs_postgres_port }}
DB_USER={{ wikijs_postgres_user }}
DB_PASS={{ wikijs_postgres_password }}
DB_NAME={{ wikijs_postgres_database }}
