# Managed by Ansible
PubkeyAuthentication {{ common_sshd_pubkey_authentication }}
PasswordAuthentication {{ common_sshd_password_authentication }}
PermitRootLogin {{ common_sshd_permit_root_login }}
KbdInteractiveAuthentication {{ common_sshd_kbd_interactive_authentication }}
