[
  {
    "id": "{{ n8n_workflows_wikijs_postgres_credential_id }}",
    "name": "{{ n8n_workflows_wikijs_postgres_credential_name }}",
    "type": "{{ n8n_workflows_wikijs_postgres_credential_type }}",
    "data": {
      "host": "{{ n8n_wikijs_postgres_host }}",
      "port": {{ n8n_wikijs_postgres_port | int }},
      "database": "{{ n8n_wikijs_postgres_database }}",
      "user": "{{ n8n_wikijs_postgres_user }}",
      "password": "{{ n8n_wikijs_postgres_password }}",
      "ssl": "{{ n8n_workflows_wikijs_postgres_credential_ssl_mode }}",
      "allowUnauthorizedCerts": {{ n8n_workflows_wikijs_postgres_credential_allow_unauthorized_certs | ternary('true', 'false') }},
      "poolSize": {{ n8n_workflows_wikijs_postgres_credential_pool_size | int }}
    }
  }
]
