N8N_EXECUTIONS_MODE={{ n8n_common_executions_mode }}
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true

DB_TYPE={{ n8n_postgres_db_type }}
DB_POSTGRESDB_HOST={{ n8n_postgres_host }}
DB_POSTGRESDB_PORT={{ n8n_postgres_port }}
DB_POSTGRESDB_DATABASE={{ n8n_postgres_database }}
DB_POSTGRESDB_USER={{ n8n_postgres_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_postgres_password }}

QUEUE_BULL_REDIS_HOST={{ n8n_redis_host }}
QUEUE_BULL_REDIS_PORT={{ n8n_redis_port }}
QUEUE_BULL_REDIS_PASSWORD={{ n8n_redis_password }}
QUEUE_BULL_REDIS_DB={{ n8n_redis_db }}

N8N_HOST={{ n8n_public_host }}
N8N_PORT={{ n8n_web_container_port }}
N8N_PROTOCOL={{ n8n_public_protocol }}
N8N_EDITOR_BASE_URL={{ n8n_common_editor_base_url }}
WEBHOOK_URL={{ n8n_common_webhook_url }}
GENERIC_TIMEZONE={{ n8n_common_timezone }}

N8N_ENCRYPTION_KEY={{ n8n_common_encryption_key }}
N8N_DIAGNOSTICS_ENABLED={{ n8n_common_telemetry_enabled | ternary('true', 'false') }}
N8N_PERSONALIZATION_ENABLED=false
N8N_VERSION_NOTIFICATIONS_ENABLED=false

OLLAMA_BASE_URL={{ n8n_common_ollama_base_url }}
