N8N_EXECUTIONS_MODE={{ n8n_common_executions_mode }}
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true

DB_TYPE={{ n8n_postgres_db_type }}
DB_POSTGRESDB_HOST={{ n8n_postgres_host }}
DB_POSTGRESDB_PORT={{ n8n_postgres_port }}
DB_POSTGRESDB_DATABASE={{ n8n_postgres_database }}
DB_POSTGRESDB_USER={{ n8n_postgres_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_postgres_password }}

QUEUE_BULL_REDIS_HOST={{ n8n_redis_host }}
QUEUE_BULL_REDIS_PORT={{ n8n_redis_port }}
QUEUE_BULL_REDIS_PASSWORD={{ n8n_redis_password }}
QUEUE_BULL_REDIS_DB={{ n8n_redis_db }}

N8N_HOST={{ n8n_public_host }}
N8N_PORT={{ n8n_web_container_port }}
N8N_PROTOCOL=https
N8N_EDITOR_BASE_URL={{ n8n_common_editor_base_url }}
WEBHOOK_URL={{ n8n_common_webhook_url }}
INTERNAL_WEBHOOK_BASE_URL={{ n8n_common_internal_webhook_base_url }}
N8N_ENDPOINT_WEBHOOK=webhook
N8N_ENDPOINT_WEBHOOK_TEST=webhook-test
N8N_DISABLE_PRODUCTION_MAIN_PROCESS=false
GENERIC_TIMEZONE={{ n8n_common_timezone }}

N8N_ENCRYPTION_KEY={{ n8n_common_encryption_key }}
N8N_DIAGNOSTICS_ENABLED={{ n8n_common_telemetry_enabled | ternary('true', 'false') }}
N8N_PERSONALIZATION_ENABLED=false
N8N_VERSION_NOTIFICATIONS_ENABLED=false
N8N_BLOCK_ENV_ACCESS_IN_NODE={{ n8n_common_block_env_access_in_node | ternary('true', 'false') }}

OLLAMA_BASE_URL={{ n8n_common_ollama_base_url }}
OLLAMA_MODEL={{ n8n_common_ollama_model }}
AGENT_WORKFLOW_TOKEN={{ n8n_common_agent_workflow_token }}
{% if n8n_common_agent_system_prompt | trim | length > 0 %}
AGENT_SYSTEM_PROMPT={{ n8n_common_agent_system_prompt | replace('\n', '\\n') | quote }}
{% endif %}
AGENT_MIN_MEMORY_CHARS={{ n8n_common_agent_min_memory_chars }}
AGENT_ALLOW_GENERAL_KB={{ n8n_common_agent_allow_general_kb | ternary('true', 'false') }}
AGENT_DEBUG={{ n8n_common_agent_debug | ternary('true', 'false') }}
AGENT_MEMORY_SCHEMA={{ n8n_common_agent_memory_schema }}
AGENT_MEMORY_TABLE={{ n8n_common_agent_memory_table }}
AGENT_WIKI_SCHEMA={{ n8n_common_agent_wiki_schema }}
AGENT_WIKI_TABLE={{ n8n_common_agent_wiki_table }}
AGENT_WIKI_TITLE_COLUMN={{ n8n_common_agent_wiki_title_column }}
AGENT_WIKI_PATH_COLUMN={{ n8n_common_agent_wiki_path_column }}
AGENT_WIKI_CONTENT_COLUMN={{ n8n_common_agent_wiki_content_column }}
AGENT_WIKI_LIMIT={{ n8n_common_agent_wiki_limit }}
AGENT_WIKI_CONTEXT_CHARS={{ n8n_common_agent_wiki_context_chars }}
AGENT_WIKI_MIN_SCORE={{ n8n_common_agent_wiki_min_score }}
AGENT_WIKI_MIN_TERM_HITS={{ n8n_common_agent_wiki_min_term_hits }}
AGENT_MIN_ANSWER_OVERLAP={{ n8n_common_agent_min_answer_overlap }}
N8N_AGENT_QUERY_WEBHOOK_PATH={{ n8n_workflow_agent_query_webhook_path }}
N8N_MEMORY_READ_WEBHOOK_PATH={{ n8n_workflow_memory_read_webhook_path }}
N8N_MEMORY_WRITE_WEBHOOK_PATH={{ n8n_workflow_memory_write_webhook_path }}
