services:
  postgres:
    image: "{{ postgres_image }}"
{% if postgres_image_platform | length > 0 %}
    platform: "{{ postgres_image_platform }}"
{% endif %}
    container_name: "{{ postgres_container_name }}"
    restart: "{{ postgres_restart_policy }}"

    env_file:
      - "{{ postgres_env_file_path }}"

    command:
      - postgres
      - -c
      - "listen_addresses={{ postgres_listen_addresses }}"
      - -c
      - "hba_file={{ postgres_container_hba_file }}"
      - -c
      - "password_encryption={{ postgres_password_encryption }}"

    ports:
      - "{{ postgres_bind_host }}:{{ postgres_port }}:5432"

    volumes:
      - "{{ postgres_data_dir }}:{{ postgres_container_data_dir }}"
      - "{{ postgres_init_sql_host_path }}:{{ postgres_container_init_sql_file }}:ro"
      - "{{ postgres_hba_config_path }}:{{ postgres_container_hba_file }}:ro"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ postgres_superuser }} -d {{ postgres_default_db }}"]
      interval: "{{ postgres_healthcheck_interval }}"
      timeout: "{{ postgres_healthcheck_timeout }}"
      retries: {{ postgres_healthcheck_retries }}
      start_period: "{{ postgres_healthcheck_start_period }}"
